body {
  padding-top: 70px;
  background-color: #480000;
}

#seccionClase {
  background-color: lightseagreen;
  border-radius: 10px;
}



.navbar {
  background-color: darkred;
}

.footer {
  background-color: white;
}
.texto-article {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.tarjetas-presentacion {
  text-align: center;

  border-radius: 10px;
  z-index: 0;
}
.texto-vanderlinde {
  text-align: center;
  color: white;
}

.footer {
  color: white;
}

.imagen-inicio {
  border-radius: 10px;
}

hr {
  color: white;
}

@font-face {
  font-family: "letrardr2";
  src: url("/fonts/chinese-rocks-rg.ttf");
}

.txt {
  font-family: "letrardr2";
  text-align: center;
  color: white;
}

.zoom {
  transition: transform 0.2s;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.zoom:hover {
  transform: scale(1.3);
  z-index: 1;
  background-color: darkred;
  border-radius: 15px;

}

p.cita{
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
  display:none;
  color:white
}
div.cita-oculta:hover p.cita {
  display:block;
  }
  