body {
  padding-top: 70px;
  background-color: #480000;
}

#seccionClase{
  background-color: lightseagreen;
  border-radius: 10px;

}

.container {
  justify-content: space-around;
}

.navbar{
  background-color: darkred;
}

.texto-article{
  text-align: center;
  color: white;
}

.footer
{
  color: white
}